.button {
	/* sizing */
	display: inline-block;
	padding-block: 1em;
	padding-inline: 2em;
	/* typography */
	font-size: var(--fz-200);
	font-weight: var(--fw-bold);
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: var(--ls-500);
	color: var(--button-text);
	/* appearance */
	background-color: var(--button-background);
	cursor: pointer;
	transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;

	&:hover,
	&:focus-visible {
		color: var(--hover-button-text);
		background-color: var(--hover-button-background);
	}

	&--dark {
		--button-text: var(--clr-neutral-100);
		--button-background: var(--clr-neutral-900);
		--hover-button-text: var(--clr-neutral-900);
		--hover-button-background: var(--clr-neutral-400);
	}

	&--light {
		--button-text: var(--clr-neutral-900);
		--button-background: var(--clr-neutral-100);
		--hover-button-text: var(--clr-neutral-900);
		--hover-button-background: var(--clr-neutral-400);
	}
}
