.toggle-button {
	--size: 4rem;
	display: inline-grid;
	place-content: center;
	width: var(--size);
	aspect-ratio: 1 / 1;
	background: none;
	border: none;
	cursor: pointer;

	& * {
		pointer-events: none;
	}

	&[aria-expanded='false'] &__icon-close {
		display: none;
	}

	&[aria-expanded='true'] &__icon-close {
		display: block;
	}
	&[aria-expanded='true'] &__icon-open {
		display: none;
	}
}
