body {
	font-size: var(--fz-400);
	font-weight: var(--fw-regular);
	font-family: var(--ff-primary);
	color: var(--clr-neutral-960);

	&::-webkit-scrollbar {
		width: 1.5rem;
	}

	&::-webkit-scrollbar-track {
		background-color: var(--clr-neutral-400);
	}

	&::-webkit-scrollbar-thumb {
		background-image: var(--accent-gradient-400);
		border-radius: 100vmax;
	}
}

h1,
h2,
h3 {
	font-weight: var(--fw-bold);
}

h1,
h2 {
	line-height: 1.2;
}
