@use '../abstracts/variables';
@use '../abstracts/mixins';

:root {
	/* colors */
	@each $color, $shades in variables.$colors {
		@each $shade, $value in $shades {
			--clr-#{$color}-#{$shade}: #{$value};
		}
	}

	--accent-gradient-400: linear-gradient(0.25deg, var(--clr-accent-700), var(--clr-accent-400), var(--clr-accent-500));

	/* font families */
	--ff-primary: 'DM Sans', sans-serif;

	/* font weights */
	@each $font-weight, $value in variables.$font-weights {
		--fw-#{$font-weight}: #{$value};
	}

	/* font sizes */
	@each $screen, $sizes in variables.$font-sizes {
		@if $screen == starting {
			@each $size, $value in $sizes {
				--fz-#{$size}: #{$value};
			}
		} @else {
			@include mixins.mq($screen) {
				@each $size, $value in $sizes {
					--fz-#{$size}: #{$value};
				}
			}
		}
	}

	/* letter spacing */
	@each $letter-spacing, $value in variables.$letter-spacings {
		--ls-#{$letter-spacing}: #{$value};
	}
}
