@use '../../abstracts/mixins' as mxn;

.feature-card {
	--icon-size: 7.2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	&__icon {
		margin-bottom: 4.8rem;
		width: var(--icon-size);
		aspect-ratio: 1 / 1;
		object-fit: contain;
		object-position: center;
	}

	&__heading {
		margin-bottom: 0.88em;
		font-size: var(--fz-500);
		color: var(--clr-neutral-900);
	}

	& p {
		max-width: 45ch;
	}
}
