@use '../abstracts/mixins' as mxn;

.content-piece {
	--flow-spacer: 1.5em;
	display: grid;
	align-content: center;
	padding-inline: 2.8rem;
	background-color: var(--bg-content);
	color: var(--clr-content-text);
	@include mxn.mq(medium) {
		padding-inline: 0;
		padding-block: 7.2rem;
	}

	&__inner {
		padding-block: 7.2rem;
		@include mxn.mq(medium) {
			padding-block: 0;
			padding-inline: 5.4rem;
		}
		@include mxn.mq(large) {
			padding-inline: clamp(8rem, 8vw, 11.2rem);
		}
	}

	&__heading {
		max-width: 14ch;
		font-size: var(--fz-700);
		font-weight: var(--fw-bold);
		text-transform: uppercase;
		letter-spacing: var(--ls-400);
		color: var(--clr-content-heading, black);

		&:not(:first-child) {
			margin-block-start: 0.6em;
		}
	}

	&__kicker {
		font-size: var(--fz-200);
		font-weight: var(--fw-bold);
		text-transform: uppercase;
		letter-spacing: var(--ls-500);
		color: var(--clr-neutral-100);
	}

	&__creation {
		margin-top: 1.25em;
		font-size: var(--fz-300);
		color: var(--clr-neutral-100);
		& span {
			opacity: 0.75;
			margin-inline-end: 0.8rem;
		}
	}

	& p {
		max-width: 37ch;
	}

	&--dark {
		--bg-content: var(--clr-neutral-900);
		--clr-content-heading: var(--clr-neutral-100);
		--clr-content-text: var(--clr-neutral-160);
	}

	&--transparent {
		--bg-content: var(--clr-neutral-900);
		--clr-content-heading: var(--clr-neutral-100);
		--clr-content-text: var(--clr-neutral-160);
		@include mxn.mq(small) {
			--bg-content: transparent;
		}
	}

	&--light {
		--bg-content: var(--clr-neutral-100);
		--clr-content-heading: var(--clr-neutral-900);
		--clr-content-text: var(--clr-neutral-960);
	}
}
