@use '../abstracts/mixins' as mxn;

.primary-navigation-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	@include mxn.mq(medium) {
		justify-content: normal;
	}
}
