@use '../abstracts/mixins' as mxn;

.primary-navigation-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	@include mxn.mq(medium) {
		justify-content: normal;
	}
}

.flex-between-centered {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cta-flex {
	display: flex;
	gap: 2.4rem;
	flex-direction: column;
	@include mxn.mq(small) {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
}

.socials-flex {
	display: flex;
	align-items: center;
	gap: 1.3rem;
}
