@use '../abstracts/mixins' as mxn;

.uneven-grid {
	display: grid;
	grid-auto-flow: dense;
	@include mxn.mq(small) {
		--first-column: min(max-content, 1fr);
		--second-column: 1fr;
		grid-template-columns: var(--first-column, 1fr) var(--second-column, 1fr);

		&[data-direction='rtl'] {
			grid-template-columns: var(--second-column, 1fr) var(--first-column, 1fr);
			& > :nth-child(2n) {
				grid-column: 1;
			}

			& > :nth-child(2n + 1) {
				grid-column: 2;
			}
		}

		&[data-direction='ltr'] {
			& > :nth-child(2n) {
				grid-column: 2;
			}

			& > :nth-child(2n + 1) {
				grid-column: 1;
			}
		}
	}
	@include mxn.mq(large) {
		--first-column: 1fr;
	}
	@include mxn.mq(xlarge) {
		--first-column: auto;
	}
}

.doubling-grid {
	display: grid;
	@include mxn.mq(small) {
		grid-template-columns: repeat(2, 1fr);
	}
	@include mxn.mq(large) {
		grid-template-columns: repeat(4, 1fr);
	}
}

.triple-grid {
	display: grid;
	@include mxn.mq(large) {
		grid-template-columns: repeat(3, 1fr);
	}

	&[data-gap='loose'] {
		gap: 5.6rem;
		@include mxn.mq(medium) {
			gap: 8rem;
		}
		@include mxn.mq(large) {
			gap: 3rem;
		}
	}
}

.page-footer-grid {
	display: grid;
	justify-items: center;
	gap: 2rem;
	grid-template-areas:
		'logo'
		'socials'
		'navigation'
		'cta'
		'copyright';
	@include mxn.mq(medium) {
		justify-items: unset;
		grid-template-areas:
			'logo cta'
			'navigation navigation'
			'socials copyright';
	}
	@include mxn.mq(large) {
		grid-template-areas:
			'logo navigation cta'
			'socials navigation copyright';
	}

	& > [data-area='logo'] {
		grid-area: logo;
	}

	& > [data-area='socials'] {
		grid-area: socials;
		@include mxn.mq(medium) {
			align-self: end;
		}
	}

	& > [data-area='navigation'] {
		grid-area: navigation;
	}

	& > [data-area='cta'] {
		grid-area: cta;
		@include mxn.mq(medium) {
			justify-self: end;
		}
	}

	& > [data-area='copyright'] {
		grid-area: copyright;
		@include mxn.mq(medium) {
			justify-self: end;
			align-self: end;
		}
	}
}
