@use '../abstracts/mixins' as mxn;

.uneven-grid {
	display: grid;
	grid-auto-flow: dense;
	@include mxn.mq(small) {
		--first-column: min(max-content, 1fr);
		--second-column: 1fr;
		grid-template-columns: var(--first-column, 1fr) var(--second-column, 1fr);

		&[data-direction='rtl'] {
			grid-template-columns: var(--second-column, 1fr) var(--first-column, 1fr);
			& > :nth-child(2n) {
				grid-column: 1;
			}

			& > :nth-child(2n + 1) {
				grid-column: 2;
			}
		}

		&[data-direction='ltr'] {
			& > :nth-child(2n) {
				grid-column: 2;
			}

			& > :nth-child(2n + 1) {
				grid-column: 1;
			}
		}
	}
	@include mxn.mq(large) {
		--first-column: 1fr;
	}
	@include mxn.mq(xlarge) {
		--first-column: auto;
	}
}
